<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practice Page</title>
</head>
<body>

<h1>1. For Loop and If Tag</h1>
<ul>
{% for number in list_of_numbers %}
    {% if number|divisibleby:"2" %}
        <li style="color: blue;">{{ number }}</li>
    {% else %}
        <li style="color: red;">{{ number }}</li>
    {% endif %}
{% endfor %}
</ul>

<h1>2. String Filters</h1>
<p>{{ greeting|upper }}</p>
<p>{{ greeting|slice:":-1" }}</p>

<h1>3. Dictionary and String Concatenation</h1>
<p>{{ user_info.first_name|add:' '|add:user_info.last_name }}</p>

<h1>
  4. Conditional Display
</h1>
{% if is_vip %}
    <strong>VIP Member</strong>
{% else %}
    Regular Member
{% endif %}

<h1>
  5. Safe Filter
</h1>
<p>{{ notes|escape }}</p>
<p>{{ notes|safe }}</p>

<h1>
  Bonus
</h1>
<p>Today's date: {{ my_date|date:"F d, Y" }}</p>

</body>
</html>
